.row__title {
  color: #ffffff;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px 0;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  max-height: 100px;
  object-fit: contain;
  margin-right: 10px;
  transition: transform 450ms;
}

.row__poster:hover {
  transform: scale(1.08);
  opacity: 1;
  border: 3px solid #fff;
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}
