.banner {
  color: white;
  margin-bottom: 1rem;
}
.banner__imdbTvlogo {
  height: 23px;
  width: auto;
}

.banner__meta {
  display: flex;
  gap: 1.5rem;
  font-size: 1.1rem;
}

.banner__rating {
  display: flex;
  align-items: center;
}

.banner__title {
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 1rem;
}

.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
  max-width: 360px;
}
.banner__buttons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.banner__button {
  cursor: pointer;
  color: #ffffff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 0.1rem 0.5rem;
  vertical-align: middle;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner__button:hover {
  color: #000000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
.banner__button--signin {
  padding: 0.5rem 1.2rem;
}
.banner--fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111111
  );
}
